@import "_variables.scss";
body{
    background-color: map-get($map: $colors, $key: fourth);
    margin:0px;
	padding:0px;
    a{
        text-decoration:none;
    }
    ul{
        list-style:none;
    }
    @media (max-width:600px) {
        .about-model{
            display: none;
        }
        .about-text{
            width: 100%;
        }
    }
    header{
        @include display-flex();
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
        letter-spacing: 2px;
        font-family: calibri;
        padding: 10px 50px;
        background-color:map-get($map: $colors, $key: fourth);
        li a{
            padding: 10px 15px;
            color:map-get($map: $colors, $key: secondary);
            font-size: 12px;
        }
        .active a,
        li a:hover{
        background-color:#292929;
        color:#FFF!important;
        font-weight: bold;
        transition: all ease 0.4s;
        }
        .lang{
            color:#292929;
        }
        .logo{
            font-size: 25px;
            font-weight: bold;
            color:#292929;
            font-family:Poppins;
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        padding:30px 50px;
        width:100%;
        background-repeat: no-repeat;
        background-image: url("../images/bg.png");
        background-color: #edf1fd;
        background-size: cover;
        .name{
            padding-left: 20px;
            padding-top: 270px;
            width: 500px;
            p:nth-child(1),.name .details{
                color:map-get($map: $colors, $key: s);
                font-size: 16px;
            }
            h1{
                font-family:Poppins;
                font-size: 40px;
                margin:0px;
                letter-spacing: 3px;
                color:#292929;
            }
            .cv-btn{
                width:200px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #292929;
                color:map-get($map: $colors, $key: main);
            }
            .cv-btn:hover{
                background-color: #131313;
                transition: all ease 0.5s;
            }
        }
        .social{
            margin-top: 250px;
            display: flex;
            padding-bottom: 30px;
            a{
                margin: 6px 12px;
            }
            i{
                color:rgba(18,17,17,0.40);
                font-size: 14px;
            }
            a:hover i{
                color:#17d1ac;
                transition: all ease 0.5s;
            }
        }
    }
    .about{
        width:100%;
        background-color:#161616;
        @include display-flex();
        padding: 100px 5% 100px 5%;
        .about-text{
            font-family: calibri;
            width: 50%;
            h1{
                font-size: 5rem;
                color:#17d1ac;
            }
            h2{
                font-size: 3rem;
                color:map-get($map: $colors, $key: main);
                font-weight: 400;
            }
            h1,h2{
                margin: 0px;
                padding: 0px;
            }
            p{
                font-size: 1.2rem;
                color:rgba(255,255,255,0.90);
            }
            button{
                width: 180px;
                height: 40px;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color:#17d1ac;
            }
            button:hover{
                background-color: #FFFFFF;
                transition: all ease 0.3s;
            }
        }
    }
    .skills{
        width:100%;
        font-family: calibri;
        @include flex-center();
        flex-direction: column;
        overflow: hidden;
        padding-top: 40px;
        background-color: #292929;
        .s-heading{
            text-align: center;
            margin: 20px 0px;
            h1{
                color:#FFFFFF;
                font-size: 3rem;
                margin: 0px;
                padding: 0px; 
            }
        }
        .s-d-container{
            @include flex-center();
            padding-bottom: 20px;
            .s-box{
                background-color: #2B2B2B;
                width:350px;
                height: 500px;
                margin: 20px;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
                .s-b-img{
                    width: 100%;
                    height: 60%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .s-type{
                        font-family: calibri;
                        color:#FFFFFF;
                        background-color: #151515;
                        padding: 10px 130px;
                        font-size: 18px;
                        border-radius: 0px 0px 10px 10px;
                        box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
                    }
                }
                .s-b-text{
                    width: 100%;
                    height: 40%;
                    background-color: #1e1e1e;
                    @include flex-center();
                    margin-top: 20px;
                    a{
                        margin: 0px;
                        color:#FFFFFF;
                        font-size: 1.1rem;
                        font-family: calibri;
                        display: block;
                        display: -webkit-box;
                        max-width: 80%;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    a:hover{
                        color:rgba(255,255,255,0.50)
                    }
                }
            }
            .s-box:hover{
                transform:translateY(-10px);
                transition: all ease 0.3s;
            }
        }   
    }
    .contact-btn{
        width: 100%;
        flex-direction: column;
        @include flex-center();
        height: 200px;
        background-color: #F4F7FF;
        margin: 20px 0px;
        .c-b-heading{
            font-size: 2rem;
            color:#1E1E1E;
            font-family: calibri;
            margin: 10px;
            padding: 5px;
            letter-spacing: 4px;
            border-bottom: 2px solid #1E1E1E;
        }
        button{
            color:#FFFFFF;
            font-size: 1rem;
            font-family: calibri;
            width:150px;
            height: 40px;
            margin: 10px;
            background-color: #1E1E1E;
            border: none;
            outline: none;
            box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
        }
        button:hover{
            background-color: #17d1ac;
            color:#000000;
            transition: all ease 0.5s;
            font-weight: bold;
        }
    }
}